<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/../styles/main.css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Poiret+One' rel='stylesheet' type='text/css'>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src='/../scripts/sockets.js'></script>
</head>
<body>
  <script>
    $(function(){
      setupSocket()
    })
  </script>

  <ul id="messages"></ul>
  <form action="">
    <span class="input_line">
      <input id="user" placeholder="Name" />
      <div class="colourpicker">
        Text:
        <input class="html5colorpick" type="color" value="#000000" onchange="clickColor(0,-1,-1,5)" content="Text Colour"/>
      </div>
      <div class="colourpicker">
        BG:
        <input class="html5colorpick" type="color" value="#3D8199" onchange="clickColor(0,-1,-1,5)">
      </div>
    </span>
    <span class="input_line">
      <input id="message" autocomplete="off" placeholder="Type your message"/>
      <button>Send</button>
    </span>
  </form>
</body>
</html>
